/* CSS untuk galeri foto */
body {
    background-color: #00FFFF; /* Aqua Blue */
}

/* CSS untuk galeri foto */
.card {
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Menggeser teks ke tengah kartu */
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px; /* Margin di bawah teks */
}

.btn-primary {
    width: 100%;
}

/* CSS untuk navbar */
/* ... CSS navbar dari sebelumnya ... */

/* CSS untuk footer */
/* ... CSS footer dari sebelumnya ... */


/* CSS untuk navbar */
.navbar {
    padding: 10px 0;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #007BFF;
}

/* CSS untuk footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.footer i {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
}
